registry=https://nexus.creditacceptance.com/repository/npm-public/
install-url=https://nexus.creditacceptance.com/repository/npm-public

### registry=http://registry.npmjs.org/
### install-url=http://registry.npmjs.org

proxy=http://10.10.115.96:3128
https-proxy=http://10.10.115.96:3128
https_proxy=http://10.10.115.96:3128
